label {
	text-align: center;
    margin-top: 20 px;
}
#btn {
    font-size: 25px;
    background-color: white;
    color: black;
    border: 3px solid #0E1EF7;
    border-radius: 4px;
    transition-duration: 0.4s;
}

#btn:hover {
    background-color: #F819E6;
    color: white;
}
#input
{
	  margin: 20 px;
}
